<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		
		<link rel="icon" href="{{asset("assets/img/HOLYFX-LOGO_noir.png")}}"/>
		<link href="{{asset("assets/css/header.css")}}" rel="stylesheet">
		<link href="{{asset("assets/css/fontController.css")}}" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/6ad9ea93a4.js" crossorigin="anonymous"></script>
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>
	<body>
		<div class="header_main">
			<div class="header_div_logo">
				<a href="/"><img class="header_logo" src="{{asset("assets/img/HOLYFX-LOGO_blanc.svg")}}" alt=""></a>
			</div>
			<div class="header_div_menu roboto">
				<div
					class="linkAccueil dropdown">
					<a href="{{path("Portfolio")}}" class="linkAccueilText">Portfolio <i class="logofleche fas fa-caret-down"></i></a>
					
					<div class="dropdown-content">
						<a href="{{path("Creation")}}">Création</a>
						<a href="{{path("MakeUp")}}">Make Up</a>
						<a href="{{path("Perruque")}}">Perruque</a>
					</div>
				</div>
				<div class="linkAccueil">
					<a href="{{path("APropos")}}" class="linkAccueilText">A propos</a>
				</div>
				<div class="linkAccueil">
					<a href="{{path("Contact")}}" class="linkAccueilText">Contact</a>
				</div>
			</div>
		</div>
		{% block body %}{% endblock %}
	</body>
</html>
